nav ul {
	display: flex;
	justify-content: center;
	gap: 50px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	color: white;
	background-color: black;

	img {
		height: 18px;
	}
}
